<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017222256411-rr22mca5ppgd1h835cun7o477ooau40f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017222256411-rr22mca5ppgd1h835cun7o477ooau40f</string>
	<key>API_KEY</key>
	<string>AIzaSyDiBlXbj8lMnZiFbKGlajqlgQBAQ-HHOnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1017222256411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ChatApp-iOS-Dev-Project</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ios-8a0c0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ios-8a0c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017222256411:ios:65aa499a329ef5fa49a5be</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-ios-8a0c0.firebaseio.com</string>
</dict>
</plist>